<div class="jumbotron">
    <div class = "jumb">
	<h2>Willkommen ! </h2>
        <p>Wir sind die Integrationshilfe Passau</p>
<!--  here you can add a text-->
    </div>
</div>
<div class ="mycontainer">
 <div class="row">
        <!--<div class="col col-md-8 col-lg-8 centering">-->
     <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-lg-6">
           <!-- <div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4 col-lg-4">-->
            <div class= "home">
                <!-- center the first text here -->
                <h3>Integrationsprojekt für Asylbewerber und Langzeitarbeitslose in Passau</h3>
<p> Eines der Ziele unseres Vereins Integrationshilfe Passau e.V. ist es in Zusammenarbeit mit der Bundesagentur für Arbeit – Koordinierungscenter Flucht und der Stadt Passau ein Integrationsprojekt zu starten wobei es darum geht, dass man Asylbewerbern mit Bleibeperspektive eine Orientierungsmaßnahme anbietet, die im Anschluss mit Unterstützung von Bildungsträgern und der heimischen Wirtschaft zu einer Qualifizierung führen soll. Die Integrationshilfe Passau e.V. ist dabei Maßnahmeträger.</p>
                
    
    <p> Voraussetzungen für den Start dieses Projekts, das von der Bundesagentur für Arbeit, dem Jobcenter der Stadt Passau und der Stadt Passau gefördert werden kann ist zunächst die Anmietung einer vorhandenen Werkstatt bzw. die Reaktivierung einer Räumlichkeit, die als Werkstatt genutzt werden kann oder auch die Teilung einer bereits vorhandenen Werkstatt mit einem Betrieb oder eines Bildungsträgers.</p>  
                
   
    <p>In dieser Orientierungsmaßnahme sollen Asylbewerber mit der Reparatur von defekten Haushaltsgeräten im weißen Bereich (Elektroherde, Kühlschränke, Waschmaschinen usw.) vertraut gemacht werden. Falls eine Reparatur nicht mehr möglich ist werden die Geräte einer Wiederverwertung zugeführt. Die defekten Elektrogeräte werden bei den Privathaushalten abgeholt. Wir wollen damit u.a. auch einen Beitrag zur Abfallvermeidung leisten. Reparierte Geräte  werden an bedürftige Personen gegen einen geringen Beitrag verkauft.</p>    
     
        <p>Wir brauchen für die Unterweisung der beschäftigten Asylbewerber eine Fachkraft. Das kann z.B. ein Elektromeister oder ein Elektrotechniker sein. Denkbar ist z.B. auch ein Elektromeister in Ruhestand bzw. ein Elektromeister, der als Langzeitarbeitsloser aus Altersgründen keine Beschäftigung mehr findet am ersten Arbeitsmarkt. Diese Fachkraft erhält natürlich einen entsprechenden Lohn wobei es allerdings auch möglich ist, dass unser Verein dafür einen Lohnkostenzuschuss von der Bundesagentur erhält.</p> 
                
                <p>Änderungen vorbehalten.</p>
                
                
<h2>Wollen Sie mitmachen? </h2>
                <div class="alert alert-info">
                <p>Wenn Sie Mitglied werden wollen, laden Sie sich bitte dieses Dokument herunter <a target="_self" href="/client/uploads/Beitrittserkrung_Integrationshilfe_Passau_e.V.pdf" download="/client/uploads/Beitrittserkrung_Integrationshilfe_Passau_e.V.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>, füllen es aus und senden es an uns zurück an folgende E-mail: <strong>Lschimdlehner@t-online.de</strong> oder senden es per Post an diese Adresse:<strong> Wilhelm-Niedermayer-Straße 1, 94034 Passau</strong>. Wir freuen uns auf Ihre Mitgliedschaft.</p>
               <div>
                
</div>
            </div>
</div>
</div>
<!-- hallo houni pdf injection and the paragraph don't forget !!-->