<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="SAHAR">
	<meta name="keyword" content="hello">


	<title>404</title>

	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-reset.css" rel="stylesheet">
	<!--external css-->
	<link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
	<!-- Custom styles for this template -->
	<link href="../css/mystyle.css" rel="stylesheet">

</head>

<body class="body-404">

<div class="container">

	<section class="midd">
		<img src="../img/404_icon.png">
		<h1>404</h1>
		<h2>page not found</h2>
		<p><strong>Something went wrong or that page doesn’t exist yet.</strong><a href="index.html">Return Home</a></p>
	</section>
</div>
</body>

</html>
