<div class ="mycontainer">
    <div class="container">
 <div class="row">
        <!--<div class="col col-md-8 col-lg-8 centering">-->
     <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-lg-6">
           <!-- <div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4 col-lg-4">-->
            <div class= "home add_padding">
                <h3>Der Verein </h3>
                
                    <img class="displayed"  src="img/teamwork.png">
                <br>
                <p>Wir haben einen gemeinnützigen Verein gegründet, um es zu ermöglichen, unsere Konzepte und Ideen auf ein solides und zukunftsfähiges Konzept zu stellen.
Der Verein soll ein interkulturelles Integrationskonzept für die Stadt und den Landkreis Passau in die Wege leiten. Dabei wollen wir eng mit Verbänden, Institutionen und Vereinen zusammenarbeiten.
<p>
                <ul>
                    <li><p>* Wir wollen ein dezentrales Netzwerk ausbauen</p></li>
                    <li><p>* ein dezentrales Netzwerk ausbauen </p></li>
                    <li><p>* die Helferkreise gut vernetzen und den Austausch fördern </p></li>
                    <li><p>* gemeinsam mit dem Netzwerk Veranstaltungen durchführen </p></li>
                    <li><p>* positive Öffentlichkeitsarbeit umsetzen </p></li>
                    <li><p>* mit Bildungsträgern und Kooperationspartnern eng zusammenarbeiten </p></li>
                    <li><p>* Informationsveranstaltungen mit dem Schwerpunkt Demokratievermittlung (Grundrechte und Pflichten) sowie individuellen Hilfsbausteinen organisieren</p></li>
                    <li><p>* in einer Integrationsmaßnahme die Asylbewerber mit Bleibeperspektive in einer Orientierungsphase auf eine nachfolgende Qualifizierung für einen Beruf bzw. für eine Berufsausbildung vorbereiten und somit auch eine Zukunftsperspektive für diese Personengruppe anbieten </p></li>
                    <li><p>* einen Integrationsbeirat in die Wege leiten, bei dem auch Migranten beteiligt werden.</p></li>
                </ul>
                <h3>Zweck der Integrationsmaßnahme</h3>
                <p>In der Orientierungsphase soll jeweils eine Gruppe von Asylbewerbern in einer, der realen Arbeitswelt nahen Umgebung auf die Leistungsfähigkeit geprüft werden. Die Dauer der jeweiligen Orientierungsphase soll max. 6 Monate betragen. Die Asylbewerber werden dabei auch von einer pädagogischen Fachkraft betreut. Dabei ist der Verein auch auf die Unterstützung der Stadt Passau und auf die der Bundesagentur für Arbeit sowie auf Bildungsträger und die heimische Wirtschaft angewiesen. 
Man setzt sich zum Ziel, nachhaltige Projekte umzusetzen. Gleichzeitig sollen diese Aktivitäten Beispiel gebend sein und eine nachhaltige Entwicklung in der Region fördern. Des weiteren soll die Öffentlichkeit darauf aufmerksam gemacht werden, dass Asylbewerber nicht nur nehmen sondern Talente haben und ihren Beitrag zum Gemeinwohl leisten können. </p>
         </div>
     </div>
        </div>
    </div>
</div>
        